doctype html
html(lang='en' ng-app)
    head
        title Sassy Swine
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/css/style.css', media='all', rel='stylesheet', type='text/css')
    body
        div(ng-if='1 + 1 === 2')
            h1 It works!
            em {{'SASSY' + '!'}}
        script(src='/js/scripts.js')
