nav.minimized(data-val='minimized')
  div#hamburger
    div.box
      div.line-25-odd
      div.line-25-even
      div.line-25-odd
      div.line-25-even
      div.line-25-odd
  ul
    li
      a(href='/', class='box') Home
    li
      a(href='/quests/', class='box') Quests
    li
      a(href='/abilities/', class='box') Abilities
    li
      a(href='/bio/', class='box') Bio
    li
      a(href='/journal/', class='box') Journal
    li
      a(href='/contact/', class='box') Contact