#footer
  script(type='text/javascript',src='assets/js/vendor/jquery.js')
  script(type='text/javascript',src='assets/js/foundation/foundation.js')
  script.
    $(document).foundation();
  script(type='text/javascript',src='assets/js/scripts.min.js')